
        h1{
            color: blue;
            align-content: center;
        }
        p{
            color: rgb(33, 220, 220);
            background-color: crimson;  
           padding: 15px;
           border: 10px solid powderblue;
           margin: 50px;
        }
   