
        h1{
            color: blue;
            margin-left: 100px;
           /* align-content: center;*/
        }
        p{
            color: rgb(33, 220, 220);
            background-color: crimson;
           /* margin: 50px 100px;*/  
           padding: 10px;
           border: 3px solid rgb(9, 85, 96);
           margin-top: 10px solid blue;
           margin-right: 20px;
           margin-bottom: 20px;
           margin-left: 80px; 
           
           

        }
   