h1{
    color: #16a085;
}
a:link, a:visited{
    background-color: #3498db;
    color: #e74c3c;
    padding: 20px 10px;
    border:solid #e74c3c 3px;
    margin: 50px;
    text-align: center;
    text-decoration: none;
}
a:hover,a:active{
    background-color: #2980b9;
}